<section id="evento-marca">
    <div class="container-fliud">
      <div class="row">
        <div class="col-12 col-lg-6 ps-0 pe-0">
          <img src="../../../assets/img/collagemueble2.jpg" width=6000px height= 340px alt="Imagen evento">
        </div>
        <div class="col-12 col-lg-6 text-center mt-4 pb-3">
          <h2>Feria-De la Madera Muebles</h2>
          <h3 class="mb-3">Marzo-Marzo 2023</h3>
          <p><abbr data-bs-toggle="tooltip" data-bs-html="true"
            title="Oferta Muebles">GRAN PRMOCION!</abbr>  por cada  compra de un J
            uego de sala o comedor 
            te regalamos un alfobra gratis o un kit de cojines. ♥♥♥♥
          </p>
          <a href="/catalogo.html" id="boton-alterno" class="btn btn-outline-secondary">Conoce mas...</a>
        </div>
      </div>
    </div>
  </section>

   <!--Inicia INSCRIPCION COMO COLABORADORA-->
   <hr>
   <section id="conviertete-en-colaborador" class="pt-3 pb-3">
     <div class="container">
       <div class="row">
         <div class="col text-uppercase text-center">
           <small>Conviértete en</small>
           <h2>Colaborador</h2>
         </div>
       </div>
       <div class="row">
         <div class="col text-center">
           <!--Agregar un tooltip-->
           <p>Anotate como <abbr data-bs-toggle="tooltip" data-bs-html="true"
               title="Vendedor Oficial de Beauty">colaborador De la Madera Muebles</abbr> para conocer mas de nuestros Productos!
           </p>
         </div>
       </div>
       <div class="row">
         <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2">
           <form id="form">
             <div class="form-floating mb-3">
               <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput">Nombre</label>
             </div>
             <div class="form-floating mb-3">
               <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
               <label for="floatingInput">Apellido</label>
             </div>
             <div class="form-floating mb-3">
               <textarea class="form-control" placeholder="Cuentanos por que quiere unirte a nosotros"
                 id="floatingTextarea2" style="height: 100px"></textarea>
               <label for="floatingTextarea2">Cuentanos por que quiere unirte a nosotros</label>
             </div>
             <div class="form-floating mb-3">
               <div class="d-grid gap-2">
                 <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                   data-bs-target="#modalFormulario">ENVIAR</button>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </section>
   <!--Finaliza INSCRIPCION COMO COLABORADORA-->
