
<body id="body">
  <main id="main">
    <!-- Aqui Comienzan los productos-->
    <section id="productos" class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-uppercase">
            <h2>PRODUCTOS</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb- ">
            <div class="card">
              <img src="../../../assets/img/cama.jpg" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">Camas</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="../../../assets/img/poltronas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Poltronas</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="../../../assets/img/comedores.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Comedores</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="../../../assets/img/veladores.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Veladores</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="../../../assets/img/bufeteros.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bufeteros</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card">
              <img src="../../../assets/img/puertas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Puertas</h5>

                <a href="/detalle.html" class="btn btn-primary">Ver Detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--Aqui acaba productos-->

