<main id="main">

  <section id="seccion-contacto" class="border-bottom border-secondary border-2">
    <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
                      <div class="text-center mb-4" id="titulo-formulario">
                            <div><img src="../../../assets/img/Contactanos.png" alt="" class="img-fluid ps-5"></div>
                            <h2>Contáctanos</h2>
                            <form>
                                  <div class="mb-3">
                                        <input type="email" class="form-control" id="email" name="email"                
                              placeholder="nombre@ejemplo.com">
                                    </div>
                                  <div class="mb-3">
                                        <input type="input" class="form-control" id="name" name="name"
              placeholder="Nombre">
                                    </div>
                                  <div class="mb-3">
                                        <input type="tel" class="form-control" name="phone" id="phone"
              placeholder="Teléfono">
                                    </div>
                                  <div class="form-floating mb-3">
                                        <div class="d-grid gap-2">
                                              <button type="button" class="btn btn-outline-secondary"
                data-bs-toggle="modal"                                    
                data-bs-target="#modalFormulario">ENVIAR</button>
                                          </div>
                                  </div>
                                </form>

                        </div>
                </div>
              </section>

      </main>
<!-- INICIO DE MODAL -->
    <div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  
        aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">GRACIAS POR CONTACTARNOS</h5>
                        </div>

                      <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
          data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-outline-secondary">ACEPTAR</button>
                        </div>
                  </div>
            </div>
      </div>
    <!-- FIN DE MODAL -->
